numpy
pandas
pydicom
opencv-python
Pillow
scikit-image
scikit-learn
matplotlib
seaborn
tqdm
albumentations
ultralytics
torch
torchvision
torchmetrics
pytorch-lightning
efficientnet-pytorch
pycocotools
pytorch-grad-cam
streamlit
onnx
onnxruntime
opencv-python-headless
gradio>=3.0
timm